
<link rel="stylesheet" href="/css/header.css">
<header id="header">
    <h1>Codiel</h1>

    <ul>
        <%if(locals.user){%>
            <li><%= user.name%></li>

            <li>
                <a href="/users/signout">signout</a>
            </li>

        <%}else{%>

            <li>
                <a href="/users/sign-in">signin</a>
            </li>
            <li>
                <a href="/users/sign-up">signup</a>
            </li>

        <%}%>
    </ul>
</header>