
<link rel="stylesheet" href="/css/header.css">
<header id="header">
    <a href="/"><h1>Codiel</h1></a>

    <ul>
        <%if(locals.user){%>
            <li>
                <a href="/users/profile/<%=user.id%>">
                    <%= user.name%>

                </a>
            </li>

            <li>
                <a href="/users/signout">signout</a>
            </li>

        <%}else{%>

            <li>
                <a href="/users/sign-in">signin</a>
            </li>
            <li>
                <a href="/users/sign-up">signup</a>
            </li>

        <%}%>
    </ul>
</header>