

<h1>LogIn</h1>
<form action="/users/createSession" method="POST">
    <input type="email" name="email" id="" placeholder="Email">
    <input type="password" name="password" id="" placeholder="password">
    <button type="submit">Login</button>
</form>