
<link rel="stylesheet" href="/css/login.css">

<div id="loginPage">
    <h1>LogIn</h1>
<form action="/users/createSession" method="POST" id="form">
    <input type="email" name="email" id="" placeholder="Email">
    <input type="password" name="password" id="" placeholder="password">
    <button type="submit">Login</button>
</form>

</div>


